node_modules
dist
dist-ssr
*.local
.DS_Store
src-tauri/target
app-icon.png
*.log
*.tsbuildinfo
*.key
*.key.pub
updater-private-key*
private-key.pem
*.key
*.key.pub
updater-private-key*
private-key.pem
